* {
  margin: 0px;
  padding: 0px;
}
.show-sheet {
  background-color: antiquewhite;
  color: black;
  min-width: 11%;
  min-height: 10rem;
  padding: 10px;
  position: fixed;
  left: 1%;
  top: 10%;
}
body {
  background-color: hsla(223, 83%, 58%, 0.586);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100svh;
  width: 100svw;
}
.randomStats {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: hsl(267, 41%, 47%);
  color: rgb(241, 241, 251);
  margin: 10px;
  padding: 10px;
  max-width: 400px;
}

.btnRandom {
  background-color: blue;
  color: white;
  margin: 20px;
  padding: 10px;
}
.btnAllocate {
  background-color: blue;
  color: white;
  margin: 20px;
  padding: 10px;
}

.hide {
  display: none;
}
.show {
  display: block;
}
header {
  margin: 0px;
  padding: 0px;
  width: 100svw;
}
.stats {
  width: 100svw;
  height: 20svh;
  margin-top: 10%;
}
.ulist {
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5rem;
  width: 100svw;
  padding: 10px;
  margin: 10px;
  background-color: brown;
  list-style-type: none;
  flex-wrap: wrap;
}
button {
  background-color: brown;
  color: white;
  margin: 20px;
  padding: 10px;
}
img {
  min-width: 4rem;
  min-height: 4rem;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100svh;
  max-height: 100svh;
  margin: 0px;
  padding: 0px;
}
footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 1%;
}
#dark-elf {
  position: relative;
}
.end-game {
  position: fixed;
  left: 1%;
}

@media (max-width: 600px) {
  body {
    background-color: hsla(223, 83%, 58%, 0.586);
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
    height: 100svh;
    width: 100svw;
  }
  main {
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
    min-height: 100svh;
    max-height: 100svh;
    margin: 0px;
    padding: 0px;
  }
  header {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    width: 20svw;
    height: 100svh;
  }
  .randomStats {
    display: flex;
    justify-content: end;
    flex-direction: row;
    background-color: hsl(267, 41%, 47%);
    color: rgb(241, 241, 251);
    margin-left: 4rem;
    padding: 10px;
    max-width: 400px;
  }
  .stats {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 20svw;
    height: 100svh;
  }
  button {
    font-size: 0.7rem;
  }
  .ulist {
    border-radius: 2rem;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 0.5rem;
    width: 20svw;
    height: 100svh;
    padding: 10px;
    margin: 10px;
    background-color: brown;
    list-style-type: none;
    font-size: 1rem;
  }
}
